<!DOCTYPE html>
<html>
<head>
	<title>INTERESES</title>
	<style type="text/css">
	
	</style>
</head>
<body>
<center><h1 style="background-color: #FA8072; ">Algunos de mis intereses</h1></center>
	<ul>*En mis ratos libre me pongo leer libros</ul>
	<ul>*Me gusta jugar basquetbol</ul>
	<ul>*Me gusta escuchar musica</ul>
	<ul>*Me gusta ver series en netflix</ul>
	<ul>*Me gusta jugar videojuegos</ul>
<center><img  style="max-width:30%; margin-top: 10%;"  src="{{ url_for('static', filename='leer.jpg') }}">
	<img  style="max-width:30%; margin-top: 10%;"  src="{{ url_for('static', filename='basquet.jpg') }}">
	<img  style="max-width:30%; margin-top: 10%;"  src="{{ url_for('static', filename='netflix.png') }}"></center>	

</body>
</html>