<!DOCTYPE html>
<html>
<head>
	<title>FAMILIA</title>
</head>
<body>
	<center><h1 style="background-color: #FA8072;" >Familia</h1>
	<p>Mi familia es una de las cosas mas importantes en mi vida esta conformada por 11 personas</p>
	<ul>Mi mamá  Maria Esther Blancarte Hernández</ul>
	<ul>Mi papá Teodulo Hernández Silva</ul>
	<ul>Mi hermana mayor Rosalba Hernández Blancarte</ul>
	<ul>Mi hermano Paulo Alberto Hernández Blancarte</ul>
	<ul>Mi hermana del medio Alma Julieta Hernández Blancarte</ul>
	<ul>Mi cuñado esposo de mi hermana Alma, Jose Barroso Rodriguez</ul>
	<ul>Mi cuñado esposo de mi hermana Rosalba, Lorenzo Chagoya  </ul>
	<ul>Mi sobrino mayor Axel Barroso Hernández</ul>
	<ul>Mi sobrino del medio Rafael Chagoya Hernández</ul>
	<ul>Mi sobrino menor Matias Barroso Hernández</ul>
	<ul>Y tenemos tres mascotas llamadas, pepito, rambo y max</ul>
	</center>
<center><img style="max-width: 50%;" src="{{ url_for('static', filename='familia.jpg') }}"></center>

</body>
</html>