<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<footer class="text-center text-white">
    <div class="container pt-4">
        <section class="mb-4">
            <!--Facebook-->
            <a 
            class="btn tbn-link btn-floating btn-lg text-dark m-1"
            href="#!"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="bi bi-facebook"></i></a>
            <!--Twitter-->  
            <a 
            class="btn tbn-link btn-floating btn-lg text-dark m-1"
            href="#!"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="bi bi-twitter"></i></a>   
         
            <a 
            class="btn tbn-link btn-floating btn-lg text-dark m-1"
            href="#!"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="bi bi-telephone-fill"></i></a>        
            <a 
            class="btn tbn-link btn-floating btn-lg text-dark m-1"
            href="#!"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="bi bi-google"></i></a>   
            <a 
            class="btn tbn-link btn-floating btn-lg text-dark m-1"
            href="#!"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="bi bi-chat-dots-fill"></i></a>          
        </section>
    </div>
<div class="text-center text-dark p-3" style="background-color:#ff8000;">
<i class="bi bi-badge-cc"></i>2021:
<a class="text-dark" href="#">Karina Hernández Blancarte</a>
</div>  
</footer>